<% if resource.errors.any? %>
<% resource.errors.full_messages.each do |message| %>
<!-- ALERT -->
<div class="alert alert-mini alert-danger mb-30">
    <%= message %>
</div><!-- /ALERT -->
<% end %>
<% end %>