<% content_for :for_head do %>
<title>Rocket Elevators - Get a quote</title>
<%= stylesheet_link_tag "layout-shop.css", media: "all", "data-turbolinks-track" => "reload" %>
<% end %>

<!-- Header-->
<section class="page-header page-header-xs">
    <div class="container">
        <h1>GET A QUOTE</h1>
        <ol class="breadcrumb">
            <li><a href="/#">Home</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a class="active" href="/quote#">Get a quote</a></li>
        </ol>
    </div>
</section>
<!-- Quote-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8">
                <form class="cartContent clearfix" accept-charset="UTF-8" method="post" action="/quote">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-4"><label for="contact:name">Full Name</label><input name="fullname" class="form-control" type="text" value="" id="building-name" /></div>
                            <div class="col-md-4"><label for="contact:email">E-mail Address</label><input name="email" class="form-control" type="email" value="" id="building-email" /></div>
                            <div class="col-md-4"><label for="contact:phone">Phone</label><input name="phone" class="form-control" type="text" value="" id="building-phone" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="contact:subject">Business Name</label><input name="businessname" class="form-control" type="text" value="" id="building-business" /></div>
                            <div class="col-md-4"><label for="contact:subject">Project Name</label><input name="projectname" class="form-control" type="text" value="" id="building-project" /></div>
                            <div class="col-md-4"><label for="contact_department">Building Type</label><select name="buildingtype" class="form-control pointer" id="building-select">
                                    <option value="">--- Select ---</option>
                                    <option value="Residential">Residential</option>
                                    <option value="Commercial">Commercial</option>
                                    <option value="Corporate">Corporate</option>
                                    <option value="Hybrid">Hybrid</option>
                                </select></div>
                        </div>
                        <hr />
                        <!-- Residential-->
                        <div class="row" id="residential-form">
                            <div class="col-md-4"><label for="contact:subject">Number of apartment</label><input name="nbapartment" class="form-control" type="number" value="" id="residential-apartment" /></div>
                            <div class="col-md-4"><label for="contact:subject">Number of floor</label><input name="nbfloor" class="form-control" type="number" value="" id="residential-floor" /></div>