<% content_for :for_head do %>
<title>Rocket Elevators - Residential Buildings</title>
<% end %>

<div class="slider fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
        <ul class="hide">
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-title="Residential buildings"><img src="/assets/rocket_elevators/AdobeStock_72034307.jpeg" alt="cover image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                <div class="overlay dark-4"></div>
                <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100" data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0;">Residential buildings</div>
                <div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500" data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 3; font-size:20px; color:#fff; font-weight:300;;">We offer residential service for your building !</div>
                <div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;"><a class="btn btn-default btn-lg" href="/quote#">GET A QUOTE &nbsp;<i class="fa fa-angle-right"></i></a></div>
            </li>
        </ul>
    </div>
</div>
<!-- Seperator-->
<hr class="m-0" />
<!-- Services-->
<section id="overview">
    <div class="container text-center">
        <div class="row text-left">
            <div class="col-sm-8"><img class="img-fluid" src="/assets/rocket_elevators/AdobeStock_170843598.jpeg" /></div>
            <div class="col-sm-4">
                <h3 class="fw-300">Residential<span> Elevator</span></h3>
                <p>The greatest elevators built out of military grade material and engineered by the best of the bests.</p>
                <p>These elevator are designed to fit your corporate building aesthetically and they also have the best elevator music.</p>
                <hr />
                <ul class="list-unstyled list-icons">
                    <li><i class="fa fa-check"> </i>Up to the best standard</li>
                    <li><i class="fa fa-check"> </i>Fast</li>
                    <li><i class="fa fa-check"> </i>Sensational</li>
                    <li><i class="fa fa-check"> </i>Visually pleasing</li>
                    <li><i class="fa fa-check"> </i>Secures</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Banner-->
<section class="container">
    <div class="text-center">
        <h2 class="m-0">Did we convinced you ?</h2>
        <div class="mt-30"><a class="btn btn-primary ntn-lg" href="/quote#">GET A QUOTE &raquo;</a></div>
    </div>
</section>