<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="letter-spacing-1">WHY US?</h3>
                <p>Ask our customers and you will know why you will want our elevators.</p>
                <p>Alternatively, call us and we'll answer your questions.</p>
                <h2>(581) 701-0303</h2>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <ul class="float-right m-0 list-inline mobile-block">
                <li><a>Terms &amp; Conditions</a></li>
                <li>&bull;</li>
                <li><a>Privacy</a></li>
            </ul>&copy; All Rights Reserved, Rocket Elevators
        </div>
    </div>
</footer>