<div class="navbar-toggleable-md sticky header-md clearfix" id="header">
    <header id="topNav">
        <div class="container"><button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse"><i class="fa fa-bars"></i></button><a class="logo flat-left scrollTo" href="/"><img src="/assets/images/rocket_elevators/logo.png" /></a>
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">
                    <ul class="nav nav-pills nav-main nav-onepage" id="topMain">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown"><a class="dropdown-toggle">Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="/residential">Residential</a></li>
                                <li><a href="/corporate">Corporate</a></li>
                                <li><a href="/quote">Get a quote</a></li>
                            </ul>
                        </li>
                        <li><a href="/#work">Portfolio</a></li>
                        <li><a href="/#news">News</a></li>
                        <li><a href="/#clients">Clients</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>